* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  flex-direction: column;
  overflow-x: hidden;
}

.drawAndTool {
  border: 1px solid #7f27ff;
}

canvas {
  /* border: 1px solid #7f27ff; */
  border-bottom: none;
  cursor: crosshair;
}

.drawTextBox {
  display: flex;
  width: 800px;
  gap: 10px;
  padding: 10px 10px;
  background: #9f70fda1;
}

.drawTextBox > * {
  width: 50px;
  height: 50px;
  text-align: center;
  display: grid;
  place-items: center;
  background-color: #7f27ff;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
}

.drawTextBox > *:active {
  background-color: chartreuse;
}

.clearCanva {
  margin-left: auto;
}

.downloadBtnDiv button {
  padding: 15px 36px;
  color: #fff;
  background-color: #7f27ff;
  box-shadow: 0 0 3px grey;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
}
.downloadBtnDiv {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .drawTextBox {
    width: 95svw;
  }
  canvas {
    width: 85svw;
  }
}
